@use '../../styles/variables.scss' as btnColor;

.restaurantMenuTap {
  padding: 20px;
  float: left;
  align-items: center;
  button {
    width: 200px;
    height: 20px;
    border: solid 1px black;
    margin: 10px;
  }
  button:hover {
    background-color: btnColor.$pointColor;
    color: white;
  }
}
