.Restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px dotted black;
  height: auto;
  width: auto;
  margin: 20px;
  padding: auto;
  cursor: pointer;

  .listImg img {
    width: 100%;
    height: 150px;
  }

  .listMain {
    padding: 10px;
    .iconStar {
      color: #ffa800;
    }
    .reviewNumber:before {
      content: '|';
      margin: 5px;
    }
  }
}
