@use '../../styles/variables.scss' as variable;
.mainPage1 {
  display: flex;
  justify-content: center;
  // align-items: center;

  .mainImg {
    position: relative;
    width: 100%;
  }
  .mainSearchWrap {
    position: absolute;
    .mainInput {
      width: 364px;
      height: 40px;
      border-radius: 5px;
      margin-top: 350px;
    }
    .mainBtn {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background-color: variable.$pointColor;
      margin-left: 5px;
    }
  }
}

.mainPage2 {
  display: flex;
  height: 1000px;
  background-color: black;
  .foodKindList {
    width: 1000px;
    display: flex;
    margin: auto auto;
    justify-content: space-between;
    position: relative;

    img {
      border-radius: 15px;
      width: 300px;
      height: 300px;
      border: lavenderblush 3px solid;
    }
    .foodName {
      position: absolute;
      top: 15px;
      // left: 30px;
      color: ivory;
      border: lavenderblush 3px solid;
    }
  }
}
