@use '../../styles/variables.scss' as variable;
.mainPage1 {
  display: flex;
  justify-content: center;
  // align-items: center;

  .mainImg {
    position: relative;
    width: 100%;
  }
  .mainSearchWrap {
    position: absolute;
    .mainInput {
      width: 364px;
      height: 40px;
      border-radius: 5px;
      margin-top: 350px;
    }
    .mainBtn {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background-color: variable.$pointColor;
      margin-left: 5px;
    }
  }
}
