.restaurantList {
  .selectOption {
    height: 36px;
    border: 1px solid black;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
  }

  .restaurantListMain {
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

.restaurantMenuTap ul li {
  float: left;
  margin: 10px;
  border: solid 1px black;
}
.restaurantMenuTap ul li button {
  width: 120px;
}
