@import '../../styles/mixin.scss';

.restaurantList {
  @include widthHeight;
  .listOptions {
    margin: 0 20px;
  }
  .restaurantListMain {
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
