@use '../../../styles/variables.scss' as v;
@use '../../../styles/mixin.scss' as m;

// 탭 메뉴 - 메뉴
.menus {
  .signature_menu {
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;

    ul {
      margin: 0 auto;
      display: flex;
      align-items: center;
      vertical-align: middle;

      li {
        border: 1px solid v.$themeColor;

        &:not(:last-child) {
          margin-right: 20px;
        }

        &:hover {
          cursor: pointer;
        }

        img {
          width: 130px;
          height: 80px;
          object-fit: cover;
        }

        .menu_info {
          width: 130px;
          padding-left: 0.5rem;
          padding-top: 0.2rem;
          padding-bottom: 0.4rem;

          p {
            &:first-child {
              display: block;
              margin-bottom: 0.2rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              -o-text-overflow: ellipsis;
              -ms-text-overflow: ellipsis;
              font-size: 1.05rem;
              font-weight: 600;
            }

            &:last-child {
              font-size: 0.875rem;
            }
          }
        }
      }
    }

    button {
      width: 22px;
      height: 22px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0 0 5px v.$themeColor;
      border-radius: 50%;

      &:first-child {
        left: 5px;
      }

      &:last-child {
        right: 5px;
      }

      svg {
        width: 22px;
        height: 22px;
        border: 1px solid v.$themeColor;
        border-radius: 50%;
      }
    }
  }

  .menu {
    padding-bottom: 1rem;

    .menu_category {
      height: 40px;
      padding-left: 1rem;
      background-color: v.$themeColor;
      color: v.$whiteColor;
      position: relative;

      &:hover {
        @include m.mouseOver;
      }

      span {
        font-size: 1.2rem;
        line-height: 40px;
      }

      svg {
        position: absolute;
        top: 12px;
        right: 1rem;
        transition: all 0.2s ease-in-out;

        &.collapsed {
          transform: rotate(180deg);
        }
      }
    }

    .menu_content {
      height: 0;
      overflow: hidden;
      transition: all 0.1s ease-in-out;

      &.collapsed {
        height: 100%;
      }

      ul {
        border: 1px solid #d9d9d9;
        border-top: 0;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 120px;
          padding: 0.5rem 1rem;

          &:not(:first-child) {
            border-top: 1px solid #d9d9d9;
          }

          &:hover {
            cursor: pointer;
          }

          .menu_photo {
            img {
              width: 150px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
